<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wangdaye.com.geometricweather_flutter">

    <!-- location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- request for reading wallpaper in widget config activities. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- polling service. -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- query internet state. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- interaction. -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- widgets. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- tiles. -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-feature android:name="android.software.live_wallpaper"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <queries>
        <intent>
            <!-- Geometric Weather Icon Packs. -->
            <action android:name="com.wangdaye.geometricweather.ICON_PROVIDER" />
        </intent>
        <intent>
            <!-- Chronus Icon Packs. -->
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

   <application
       android:label="@string/geometric_weather"
       android:icon="@mipmap/ic_launcher"
       tools:ignore="AllowBackup">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

       <!-- service -->
       <service
           android:name=".background.polling.services.basic.AwakeForegroundUpdateService"
           android:foregroundServiceType="location" />

       <service
           android:name=".background.polling.services.permanent.observer.TimeObserverService"
           android:process=":polling" />
       <service android:name=".background.polling.services.permanent.observer.FakeForegroundService" />

       <service
           android:name=".background.polling.services.permanent.update.ForegroundNormalUpdateService"
           android:foregroundServiceType="location" />
       <service
           android:name=".background.polling.services.permanent.update.ForegroundTodayForecastUpdateService"
           android:foregroundServiceType="location" />
       <service
           android:name=".background.polling.services.permanent.update.ForegroundTomorrowForecastUpdateService"
           android:foregroundServiceType="location" />

       <!-- receiver -->
       <receiver
           android:name=".background.receiver.MainReceiver"
           android:exported="true">
           <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
               <action android:name="android.intent.action.WALLPAPER_CHANGED" />
           </intent-filter>
       </receiver>

    </application>
</manifest>
